body
{
	background-image: url(15.jpg);
}
ul
{
	margin: 50px auto;
}
li
{
	display: inline-block;
	margin-left: 80px;
	width: 100px;
	border: 1px solid black;
	margin-bottom: 10px;
	text-align: center;
	background-color: rgb(3, 34, 76);
	font-weight: bold;
	border-radius: 5px;
	font-size: 20px;
}
a
{
	color: #fff;
}
a:hover
{
	color: #000;
} 